In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
train_df = pd.read_csv('assets/train.csv')
test_df = pd.read_csv('assets/test.csv')
spray_df = pd.read_csv('assets/spray.csv')
weather_df = pd.read_csv('assets/weather.csv')

In [3]:
spray_df.head()
# split on lat = 41.85

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [4]:
north_spray = spray_df[spray_df['Latitude'] > 41.85]
print('north spray area:')
print('{}, {}'.format(north_spray['Latitude'].max(), north_spray['Longitude'].min()))
print('{}, {}'.format(north_spray['Latitude'].min(), north_spray['Longitude'].max()))

north spray area:
42.3959833333333, -88.0964683333333
41.8734866666667, -87.660885

In [5]:
south_spray = spray_df[spray_df['Latitude'] <= 41.85]
print('south spray area:')
print('{}, {}'.format(south_spray['Latitude'].max(), south_spray['Longitude'].min()))
print('{}, {}'.format(south_spray['Latitude'].min(), south_spray['Longitude'].max()))

south spray area:
41.78601, -87.741315
41.713925, -87.58672666666669

In [6]:
in_north_abated = (train_df['Latitude'] > 41.87) & (train_df['Longitude'] < -87.67)
# not_in_north_abated = (train_df['Latitude'] <= 41.87) | (train_df['Longitude'] >= -87.67)
north_abated = train_df[in_north_abated]
unabated = train_df[in_north_abated == False]

in_south_abated = (unabated['Latitude'] < 41.79) & (unabated['Longitude'] > -87.58)
south_abated = unabated[in_south_abated]
unabated = unabated[in_south_abated == False]

In [7]:
north_abated.to_csv('output/north_abated.csv')
south_abated.to_csv('output/south_abated.csv')
unabated.to_csv('output/unabated.csv')